:root {
    /* Defining colors as variables */
    --color-green: #145247;
    --color-blue: #00478F;
    --color-purple: #484276;
    --color-black: #1C190D;
    --color-white: #EBE9EC;
}


/* Clearing css and zeroing all margins, pads and borders */
* {
    margin: 0px;
    padding: 0px;
    border: none;
}


/* Setting default font size as 10px */
html {
    font-size: 62.5%;
    /* Set font size to 62.5% so that 1rem = 10px for initial designing (16px / 62.5 === 10) */
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--color-white);
    color: var(--color-black);
    height: 100%
}

p {
    font-size: 1.75rem;
    color: var(--color-black);
    padding-left: 0.5rem;
}

p > a {
    text-decoration: none; /* removing the   for hyperlinks */
    color: var(--color-blue);  
}

/* Code for Navbar                                  */
.navbar {
    overflow: hidden;
    background-color: var(--color-white);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 999;  /* Setting navbar to be always on top */
    line-height: 7.5vh; /* navbar height */
}


/* main menu navigation links */
.logo {
    padding-left: 12.5vw;
    font-size: 2rem;
    color: var(--color-blue);
}

.logo li {
    float: left; /* Floating the links in order */
    list-style-type: none;
    margin-right: 2rem;
}


/* Targeting descendent links of the menu id */
.logo a,
.credits a {
    text-decoration: none; /* removing the   for hyperlinks */
    color: inherit;  /* Links will inherit the color from the closest parent; in this case body */
}


/* mouse over link */
.logo a:hover {
    color: var(--color-green);
}


/* The hero image */
.section-container {
    height: 85vh;
    /* Set a specific height */
    width: 75vw;
    /* Setting width */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
}


/* The hero image */
.hero-image {
    margin-left: auto;
    margin-right: auto;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* Padding in order to respect viewport height */
    margin-top: 7.5vh;
}

.hero-trieste {
    background-image: url(../images/heroimage/map-trieste.png);
    height: 92.5vh;
    /* Set a specific height */
    width: 90vw;
    /* Setting width */
}

.hero-galway {
    background-image: url(../images/heroimage/map-galway.png);
    height: 92.5vh;
    /* Set a specific height */
    width: 90vw;
    /* Setting width */
}

.hero-dublin {
    background-image: url(../images/heroimage/map-dublin.png);
    height: 92.5vh;
    /* Set a specific height */
    width: 90vw;
    /* Setting width */
}


/* Place text in the middle of the image */
.hero-text {
    position: absolute;
    top: 80%;
    left: 7.5vw;
    color: var(--color-black);
    font-family: 'Space Mono';
    min-width: 32.5rem;
    max-width: 40rem;
    word-wrap: break-word;
}

.hero-text h1 {
    color: var(--color-green);
    font-size: 4rem;
}

.hero-text p {
    font-size: 2.25rem;
    line-height: 2.25rem;
}

.hero-text #hero-byline {
    font-style: oblique;
    font-size: 1.75rem;
    line-height: 1.75rem;
    margin-top: 0.5rem;
}


/* **************************************************/
/* Code for About                             */
/* **************************************************/
.logos img {
    width: 75px;
    height: 75px;
}

.flex-container-about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12.5vh;
    padding-bottom: 7.5vh;
}

.flex-item-about:nth-child(1) {
    order: 0;
    flex: 0 1 35vw;
    border-top: 0.5rem solid var(--color-blue);
    border-left: 0.5rem solid var(--color-blue);
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 50%;
    font-size: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.flex-item-about:nth-child(2) {
    order: 0;
    flex: 0 1 35vw;
    border-bottom: 0.5rem solid var(--color-blue);
    border-right: 0.5rem solid var(--color-blue);
    justify-content: space-around;
    align-items: center;
    height: 50%;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-top: auto;
}

.container {
    display: grid;
    gap: 4rem 4rem;
    grid-template-areas: "logo1 logo2 logo3 logo4""logo5 logo6 logo7 logo8";
}

.logo1 {
    grid-area: logo1;
}

.logo2 {
    grid-area: logo2;
}

.logo3 {
    grid-area: logo3;
}

.logo4 {
    grid-area: logo4;
}

.logo5 {
    grid-area: logo5;
}

.logo6 {
    grid-area: logo6;
}

.logo7 {
    grid-area: logo7;
}

.logo8 {
    grid-area: logo8;
}


/* **************************************************/
/* Code for Portfolio                             */
/* **************************************************/
.project-header {
    width: 75vw;
    text-align: left;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5rem;
}


.flex-container-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 4rem 4rem;
    width: 75vw;
    box-sizing: border-box;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: flex;
    padding-bottom: 7.5vh;

}

.flex-item-portfolio:nth-child(1) {
    order: 0;
    flex: 0 1 35vw;
    align-self: auto;
    border-left: 0.5rem solid var(--color-green);
    border-top: 0.5rem solid var(--color-green);
    padding: 1rem;
    box-sizing: border-box;
    min-width: 300px;
    height: 30vh;
}

.flex-item-portfolio:nth-child(2) {
    order: 0;
    flex: 0 1 35vw;
    align-self: auto;
    border-left: 0.5rem solid var(--color-green);
    border-top: 0.5rem solid var(--color-green);
    padding: 1rem;
    box-sizing: border-box;
    min-width: 300px;
    height: 30vh;
}

.flex-item-portfolio:nth-child(3) {
    order: 0;
    flex: 0 1 35vw;
    align-self: auto;
    border-left: 0.5rem solid var(--color-green);
    border-bottom: 0.5rem solid var(--color-green);
    padding: 1rem;
    box-sizing: border-box;
    min-width: 300px;
    height: 30vh;
}

.flex-item-portfolio:nth-child(4) {
    order: 0;
    flex: 0 1 35vw;
    align-self: auto;
    border-left: 0.5rem solid var(--color-green);
    border-bottom: 0.5rem solid var(--color-green);
    padding: 1rem;
    box-sizing: border-box;
    min-width: 300px;
    height: 30vh;
}

.flex-item-portfolio img {
    display: block;
    min-width: 125px;
}

.img-left {
    float: left;
    padding: 0rem 0.5rem 0rem 0;
}

.img-right {
    float: right;
    padding: 0rem 0rem 0rem 0.5rem;
}

.blue-gradient {
    background: linear-gradient(0deg, rgba(0, 71, 143, 0.15), rgba(0, 71, 143, 0.15));
    padding: 0.5rem 0rem 0.5rem 0;
    background-clip: content-box;
}

.flex-item-portfolio h1 {
    color: var(--color-white);
    background-color: var(--color-blue);
    font-size: 2rem;
    padding: 0.5rem;
}

.flex-item-portfolio p {
    font-size: 1.75rem;
}

.flex-item-portfolio span {
    height: 22.5vh;
    display: table-cell;
    vertical-align: middle;
}

.portfolio-images {
    background-repeat: no-repeat;
    height: 22.5vh;
    width: 22.5vh;
    display: block;
    /* Optional for a gradual animation effect */
    transition: 0.2s;
}

#msg {
    background: url('../../assets/images/portfolio/p-msg-200px-blend.png') no-repeat;
    background-size: 22.5vh 22.5vh;
}

#msg:hover {
    background: url('../../assets/images/portfolio/p-msg-200px.png') no-repeat;
    background-size: 22.5vh 22.5vh;
}

#wwt {
    background: url('../../assets/images/portfolio/p-wwt-200px-blend.png') no-repeat center;
    background-size: 22.5vh 22.5vh;
}

#wwt:hover {
    background: url('../../assets/images/portfolio/p-wwt-200px.png') no-repeat center;
    background-size: 22.5vh 22.5vh;
}

#battleships {
    background: url('../../assets/images/portfolio/p-battleships-200px-blend.png') no-repeat center;
    background-size: 22.5vh 22.5vh;
}

#battleships:hover {
    background: url('../../assets/images/portfolio/p-battleships-200px.png') no-repeat center;
    background-size: 22.5vh 22.5vh;
}

#lego {
    background: url('../../assets/images/portfolio/p-lego-200px-blend.png') no-repeat center;
    background-size: 22.5vh 22.5vh;
}

#lego:hover {
    background: url('../../assets/images/portfolio/p-lego-200px.png') no-repeat center;
    background-size: 22.5vh 22.5vh;
}


/* **************************************** */
/* Footer Element                           */
/* **************************************** */
.footer-links {
    text-align: center;
}

.footer-links>li {
    display: inline;
    /* Setting the display to inline for the list elements */
}


/* Footer Elements - font */
.footer-links i {
    font-size: 4rem;
    color: var(--color-blue);
    padding: 0% 2.5% 1% 2.5%;
}

.footer-links i:hover {
    color: var(--color-purple);
}


/* **************************************** */
/* Responsive Elements */
/* **************************************** */


@media screen and (max-width: 1200px) {
.flex-item-portfolio p {
    font-size: 1.5rem;
}

#msg, #msg:hover,#wwt,#wwt:hover ,#battleships, #battleships:hover, #lego, #lego:hover {
    background-size: 20vh 20vh;
  }

  .flex-item-portfolio span {
    height: 20vh;
}

.portfolio-images {
    height: 20vh;
    width: 20vh;
}

}

@media screen and (max-width: 1024px) {
        .flex-container-portfolio {
            height: auto !important;
            margin-top: 0;
            margin-bottom: 0;
        }
    
        .flex-item-portfolio {
          min-width: 100% !important;
        }

        .flex-container-about {
            gap: 10vh 10vh !important;
        }

        .flex-item-about {
            min-width: 100% !important;
            height: 45% !important;
          }


}


@media screen and (max-width: 600px) {
    .flex-item-about {
        min-width: 100% !important;
        height: 45% !important;  
      }

      .flex-item-about > p {
        font-size: 1.5rem;          
      }

      .logos img {
        width: 60px;
        height: 60px;
    }


    .container {
        gap: 2rem 2rem;
    }    

  }


  @media screen and (max-width: 450px) {

  .container {
    gap: 1rem 2rem;
    grid-template-areas: 
    "logo1 logo2"
    "logo3 logo4"
    "logo5 logo6"
    "logo7 logo8"!important;
}

.logos img {
    width: 60px;
    height: 60px;
}

.portfolio-images {
    width: 15rem;
    height: 15rem;
}

.img-left, .img-right{
    float: none;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

.flex-item-portfolio:nth-child(n) {
    height:auto;
}

.flex-item-portfolio span {
    height:auto;
}

#msg, #msg:hover,#wwt,#wwt:hover ,#battleships, #battleships:hover, #lego, #lego:hover {
    background-size: 15rem 15rem;
}

    .flex-container-about {
        height: auto;
    }

}