
:root {
  /* Defining colors as variables */
  --color-green: #186355;
  --color-blue: #00478F;
  --color-purple: #484276;
  --color-black: #1C190D;
  --color-white:#EBE9EC;
    }

/* Clearning css and zeroing all margins, pads and borders */
* {
  margin: 0px;
  padding: 0px;
  border: none; 
}

/* Setting default font size as 10px */
html {
  font-size: 62.5%; /* Set font size to 62.5% so that 1rem = 10px for initial designing (16px / 62.5 === 10) */
  height: 100%;
  font-family: 'Roboto', sans-serif;
 }

body {
  background-color: var(--color-white);
  color: var(--color-black);
  height: 100%
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 2.5rem;
  }



/* **************************************************/
/* Code for Navbar                                  */
/* **************************************************/
.navbar {
  overflow: hidden;
  background-color: var(--color-white);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page *//* width */
  width: 100%; /* Full width */
  z-index: 999; /* Setting navbar to be always on top */
  line-height: 7.5vh;
}

/* main menu navigation links */
.logo {
  padding-left: 5vw;
  font-size: 2rem;
  --float: right; /* Floating the parent element right */
  color:var(--color-blue);
}

.logo li {
  float: left; /* Floating the links in order */
  list-style-type: none;
  margin-right: 2rem;
}

/* Targeting descendent links of the menu id */
.logo a, .credits a{
  text-decoration: none; /* removing the   for hyperlinks */
  color: inherit; /* Links will inherit the color from the closest parent; in this case body */
} 

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url(../images/map_trieste.png);

  /* Set a specific height */
  height: 85vh;

  /* Setting width */
  width: 90vw;

  margin-left: auto;
  margin-right: auto;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  --background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* Padding in order to respect viewport height */
  padding-top: 10vh;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  top: 70%;
  left: 2%;
  color: var(--color-black);
  font-family: 'Space Mono';;
  width: 30rem;
  word-wrap:break-word;
}

.hero-text h1 {
  color: var(--color-green);
}

.hero-text p {
  font-style: oblique;
}



